# CodeIgniter 4
writable/logs/*
writable/session/*
writable/uploads/*
writable/debugbar/*
!writable/logs/index.html
!writable/session/index.html
!writable/uploads/index.html
!writable/debugbar/index.html
.env
!.env.example

# Composer
/vendor/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

